<div class="container">

  <!-- Static navbar -->
  <nav class="navbar navbar-expand-md navbar-light bg-light">
      <ul class="navbar-nav">

        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="https://bootstrapthemes.co" id="navbarDropdownMenuLink" data-toggle="dropdown"aria-haspopup="true" aria-expanded="false">
            Dropdown link
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item dropdown-toggle" href="#">Submenu</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Submenu action</a></li>
                <li><a class="dropdown-item" href="#">Another submenu action</a></li>


                <li><a class="dropdown-item dropdown-toggle" href="#">Subsubmenu</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Subsubmenu action aa</a></li>
                    <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                  </ul>
                </li>
                <li><a class="dropdown-item dropdown-toggle" href="#">Second subsubmenu</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Subsubmenu action bb</a></li>
                    <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a class="dropdown-item dropdown-toggle" href="#">Submenu 2</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Submenu action 2</a></li>
                <li><a class="dropdown-item" href="#">Another submenu action 2</a></li>


                <li><a class="dropdown-item dropdown-toggle" href="#">Subsubmenu</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Subsubmenu action 1 3</a></li>
                    <li><a class="dropdown-item" href="#">Another subsubmenu action 2 3</a></li>
                  </ul>
                </li>
                <li><a class="dropdown-item dropdown-toggle" href="#">Second subsubmenu 3</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Subsubmenu action 3 </a></li>
                    <li><a class="dropdown-item" href="#">Another subsubmenu action 3</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        
      </ul>
  </nav>

</div> <!-- /container -->
